---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
let title = 'Welcome to Astro.';
---
<html lang="en">
	  <head>
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  </head>
  <body>
	</body>
	</html>
<MainLayout>

</MainLayout>

