<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{}</title>
		<link rel="stylesheet" href="/styles/global.css" />
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
    <body>
        <h1>Hey! Hope you get a good glimpse of my world with this!</h1>
        <div class="about-me">
    <p>
        My name is Lilian Wanjiku. I love the arts and I'm also a techie. I'm especially a Cybersecurity enthusiast and frontend developer.
    </p>
        </div>
        <div class="tech">
    <h2>How I got into tech</h2>
    <p>
        I acredit my knowledge in computers to my dad who had an old Cathode Ray computer that I pretty much played games in like running over characters in GTA3 and Cartoon Network games. I studied computer in my pre-school till grade 7 and also in all my 4 years in high school. In university I'm taking a Bachelor's Degree in Information Technology at Dedan Kimathi University where I continue to nurture my tech passion. In this digital era, I look for opportunities online to learn skills e.g. web development that I've learnt solely through online bootcamps and Cybersecurity on Youtube <em>shoutout to NetworkChuck</em>
        </p>
        <h2>Tech Communities</h2>
        <p>
            I'm a Microsoft Learn Student Ambassadro, (here's my youtue to get posted on my updates)
            I'm a Women Techsters Fellow
            I'm part of the cybersecurity leads at Dedan Kimathi University
        </p>
        </div>
        <div class="projects">
    Funfiles
    Ngao
        </div>
        <div class="achievements">
    Won Cybersecurity Hackathon
        </div>
        <div class="writings">
  
        </div>
    </body>
</html>
